@import url("//fonts.googleapis.com/css?family=Bubblegum+Sans");


body {
  /* Location of the image */
  background-image: url("../../images/background2.jpeg");
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

.main .container {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.5);
  display: grid;
  grid-template-rows: 6rem minmax(35rem, auto);
  grid-template-columns: 0.5fr 1.1fr 0.5fr;
  grid-template-areas:
    "head head head"
    "content content content";
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 45px;
}


.title {
  padding-left: 30px;
  color: white;
  font-family: "Bubblegum Sans";
}

.contentArea {
  grid-area: content;
  background-color: white;
}

.main .contentArea {
  padding: 30px 50px 50px 50px;
}

.sidebarArea {
  display: flex;
  justify-content: center;
  grid-area: sidebar;
  background-color: white;
}

.sidebarArea p {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
  color: black;
  font-size: 30px;
  background-color: #dcdde1;
  border-radius: 10px;
}

.loader {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}