
.writeArea .container{
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.5);
  display: grid;
  grid-template-rows: 6rem minmax(35rem, auto);
  grid-template-columns: 0.5fr 1.1fr 0.5fr;
  grid-template-areas:
    "head head head"
    "content content content";
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 45px;
}

.writeArea .contentArea {
  padding: 30px 50px 50px 50px;
}